

:root {
    --color-terminal: #080407;
    --borde-redondo: 10px;
}

*{
    font-family: 'Courier New', Courier, monospace
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3fc5c5c4;
    color: rgb(11, 43, 44);
}

input, button {
    border: none;
    outline: none;
}

main {
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgba(0 0 0 / 75%);
    border-radius: var(--borde-redondo);

}
h1{
    margin: 0;
}
#input-original, #resultado {
    background-color: var(--color-terminal);
    width: -webkit-fill-available;
}
#input-original {
    margin: 10px 0 0;
    padding: 10px;
    color: white;
    border-top-left-radius: var(--borde-redondo);
    border-top-right-radius: var(--borde-redondo);
}
#resultado {
    height: 20px;
    color: #5af78d;
    padding: 0 10px 10px;
    border-bottom-left-radius: var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);
}
.rango {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}
input[type='range'] {
  
    border-radius: var(--borde-redondo);
    background:var(--color-terminal);
    margin: 0;
    padding: 0 5px;
    height: 18px;
}
input[type='range']::-webkit-slider-thumb {  /* */
    cursor:pointer;
   
    background: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
